<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body ng-app="myApp">
  <div ng-controller="MainCtrl">
    <input type="text" ng-model="task" placeholder="chore">
    <ul>
      <li ng-repeat="task in toDoList">{{task}}</li>
    </ul>
    <button type="button" ng-click="addTask()">Add Task</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="main.controller.js"></script>
</body>

</html>